<div class="container">
    <app-add-task />


    <div class="d-flex justify-content-center align-items-center" style="height: 80vh;">
        <h1 style="font-size: 4rem;">
                A simple to do list to 
                <br>
                 manage it all
        </h1>
    </div>





    <div class="container mt-5">  
      <div class="d-flex justify-content-center align-items-center" style="height: 80vh;">
          <div class="row">
              <div class="col-sm-12 col-md-8">
                  <h1 class="fw-bold" style="font-size: 4rem;">
                      Organize your <br>work and life, <br>finally.
                  </h1>
                  <h2>
                      Make the most of your time. Schedule due dates,<br> visualize your week in calendar view, and set<br> recurring tasks with ease.
                  </h2>
              </div>
              <div class="col-md-4 col-sm-12"style="border: none;">
                  <p-chart type="pie" [data]="data" [options]="options" />
              </div>
      
          </div>
      </div>
</div>


    

