.footer {
    background-color: #222;
    color: white;
    text-align: center;
    position:fixed; /* or absolute */
    bottom: 0;
    width: 100vw;
    height: 100px;
    .footer-container {
      display: flex;
      justify-content: space-around;
      /* margin: 0 auto; */
  
      .footer-section {
        flex: 1;
        padding: 10px;
        
        h3 {
          margin-bottom: 10px;
        }
        
        p {
          margin: 5px 0;
        }
        a {
            color: blue;
            text-decoration: none;
            font-weight: bold;
      }
    }
  }
}