html, body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow: hidden; 
    
  }
table th , table td {
    vertical-align: middle; 
}
main{
  padding-bottom: 120px; /* Same as the footer height */
}


